* {
	padding: 0;
	margin: 0;
	list-style: none;
	&::-webkit-scrollbar {
		width: 2px;
		// background: #6b6b6b33;
	}
	&::-webkit-scrollbar-thumb {
		border-radius: 2px;
		background: #6b6b6b33;
	}
	&::-webkit-resizer {
		border-radius: 2px;
		background: #6b6b6b33;
	}
	&::-webkit-scrollbar-corner {
		background: #6b6b6b33;
	}
}
